body {
	margin:0;
	background-color: 25292A;
}

img {
	width: 100%;
}

.img-responsive.mobile {
  display: none;
}

@media only screen and (max-width: 680px) {
  .img-responsive {
    display: none;
  }
  .img-responsive .mobile {
    display: block;
  }
}
